<h1 class="text-3xl font-bold py-4">Lista de Pokemons</h1>
<h2 class=" text-xl py-2">Pagina Actual: {{currenPage()}}</h2>

<hr class="text-gray-600/20 font-bold border-1">

@if (pokemons()) {
  <!-- LISTA POKEMONS -->
  <div class="flex justify-center max-w-3xl my-3  ">
    <app-pokemon-list [pokemonsList]="pokemons()"/>
   </div>

}@else {
  <!-- LOAD LISTS -->
   <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-5 gap-5 my-3 ">
    @for (poke of pokemons(); track $index) {
      <app-pokemon-list-loading/>
    }
   </div>

}

<!-- PAGINACION -->
 <div class="flex justify-between">
  <button
   (click)="loadPokemonts(-1)"
   class="btn btn-button cursor-pointer"
  >
    Anterior
  </button>
  <button
    (click)="loadPokemonts(+1)"
    class="btn btn-button cursor-pointer"
    >
    Siguiente
  </button>
 </div>
